body
{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    background-color: darkred;
}

ol, ul
{
    padding-left: 30px;
}

.store-row:after
{
    clear: both;
    content: "";
    display: table;
    width: 100%;
}

.store-title
{
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.storeItem
{
    background: #fff;
    /* border: 1px solid #999; */
    border: 0px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    /* height: 120px; */
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 33%;
    height: 33%;
}

.storeItem>div
{
    background-image: url("imgs/beer.jpg");
    
    background-size: cover;
    background-color: #cccccc;
    width: 100%;
    border-radius: 8px;
    height: 120px;
}

.storeItem:focus
{
    outline: none;
}

.kbd-navigation .storeItem:focus
{
    background: #ddd;
}

.store
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navigation-bar
{
    margin-left: 20px;
}

.catalog
{
    width: 100%;
}