body
{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    background-color: darkred;
}

ol, ul
{
    padding-left: 30px;
}

.store-row:after
{
    clear: both;
    content: "";
    display: table;
    width: 100%;
}

.store-title
{
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    display: block;
}

.store-view
{
    background-color: white;
}

.storeItem
{
    /* background: #fff; */
    /* border: 1px solid #999; */
    border: 0px;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    /* height: 120px; */
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 33%;
    height: 33%;
    background-color: white;
}

.storeItem>div
{
    background-image: url("imgs/beer.jpg");
    
    background-size: cover;
    /* background-color: #cccccc; */
    /* width: 100%; */
    width: calc(100% - 0.5em);
    border: 1px solid #999;
    border-radius: 8px;
    height: 120px;
}

.storeItem:focus
{
    outline: none;
}

.kbd-navigation .storeItem:focus
{
    background: #ddd;
}

.store
{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
}

.nav-bar
{
    display: flex;
    flex-wrap: nowrap;
    background-color: gray;
}
.nav-bar>button
{
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    background-color: inherit;
    border: 0px;
}
.nav-bar button:first-child {
    border-left: 0;
}

.nav-bar button:last-child {
    border-right: 0;
}

.catalog
{
    width: 100%;
}