@import "cart.css";
@import "preview.css";

:root
{
    --dark-navy: rgb(13, 13, 16);
    --ui-grey: rgb(40, 40, 45);
}

body
{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    background-color: white;
    overflow: hidden;
    height: 100%;
}

.cart-text
{
    color: gray;
    font-size: 14px;
}

.title-text
{
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

ol, ul
{
    padding-left: 30px;
}

.store-title
{
    padding: 15px;
    text-align: center;
    font-size: 24px;
    display: block;
    font-weight: bolder;
    background-color: red;
}

.store-view
{
    background-color: white;
    padding-top: 15px;
}

/*
* Single item in the store, it's image and title
*/
.storeItem
{
    border: 0px;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 5px;
    text-align: center;
    width: 33%;
    height: 33%;
    background-color: white;
    line-height: 2em;
}

.storeItem>div
{
    width: calc(100% - 0.5em);
    border: 1px solid #999;
    border-radius: 8px;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
}
.storeItem>div>div
{   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.storeItem:focus
{
    outline: none;
}

.store
{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
}

/*
* Bar at the top of the app for navigating the store
*/
.nav-bar
{
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--ui-grey);
}
.nav-bar>button
{
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    background-color: inherit;
    border: 0px;
    font-weight: bold;
    color: lightgray;
}
.nav-bar button:first-child {
    border-left: 0;
}

.nav-bar button:last-child {
    border-right: 0;
}

/*
* Grid of store items available
*/
.catalog
{
    width: 100%;
    height: calc(100%);
    overflow: scroll;
}
